:root {
  scroll-behavior: smooth;
  --accent: #353835;
  --accent-light: #bdc09a;
  --accent-dark: #3e4334;
  --light-grey: #f1f1f1;
  --light-text: #777;
  --mild-text: #444;
  --white: #fff;
  --black: #000;
  --grey: #919191;
  --header: "Roboto", sans-serif;
  --border: 2px solid #ff69b4;
  --normal-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  --scaled-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  --normal: all 500ms ease;
}

@keyframes fade-in-top {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "oxygen", sans-serif;
}

.hero {
  min-height: 700px;
  padding: 0 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/Images/hero-image.jpg");

  background-size: cover;
  background-position: center;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-logo {
  width: 60px;
  height: auto;
}

.top-nav {
  display: flex;
  padding: 20px 0;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.nav-links a:link,
.nav-links a:visited {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  transition: all 200ms ease;
  display: inline-block;
}

.nav-links a::after {
  content: "";
  height: 1px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -0.5px;
  border-radius: 3px;
  transition: width 300ms ease;
}
.nav-links a:hover::after {
  width: 100%;
}

.log-sign button {
  font-size: 12px;

  padding: 5px 10px;
  border-radius: 3px;
  border-bottom-width: 3px;

  color: white;
  border: 1.5px solid white;
  background: transparent;

  cursor: pointer;
  transition: all 200ms ease-out, transform 200ms ease;
}
.log-sign button:hover {
  color: white;
  background: #268953;
  border-color: transparent;
}
.log-sign button:active {
  transform: scale(0.98);
}
.search-icon {
  height: 100%;
  width: 15px;
  margin-right: 10px;
  background: transparent;
}

@media (max-width: 720px) {
  .top-nav {
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    align-items: center;
  }

  .nav-links {
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
}
@media (max-width: 460px) {
  .nav-links {
    flex-direction: column;
  }

  .log-sign {
    flex-direction: column;
  }
}

.search-bar {
  padding-left: 10px;
  width: 50%;
  height: clamp(30px, 40px, 50px);
  margin: auto 0;
  align-self: center;
  background: linear-gradient(to top, #dfdfdf, rgba(255, 255, 255, 0.9));

  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.search-bar .bar {
  display: flex;
  align-items: center;
  flex: 80%;
}

.bar input {
  width: 100%;
  border: 0;
  outline: 0;
  background: none;
}

.bar input::placeholder {
  font-size: 14px;
  color: #8e8e8e;
  font-weight: 100;
  letter-spacing: 2;
}
.sub-btn {
  height: 100%;

  display: grid;
  place-items: center;
  flex: 20%;
  padding: 0;
  margin: 0;

  background: #3cb371;
  transition: all 200ms ease;
}
.sub-btn:hover {
  background: #349d64;
}
.sub-btn button {
  width: 100%;
  color: white;
  outline: none;
  border: none;
  height: 100%;
  background: none;
  cursor: pointer;
}
.taglines {
  color: white;
  font-size: 2rem;

  margin-bottom: 65px;
  font-family: "oxygen", sans-serif;
  font-weight: 300;
}
.highlighter {
  color: #3cb371;
  font-size: 4.5rem;
}

.categories {
  display: flex;
  padding: 3em;
  flex-direction: column;
  align-items: center;
  color: var(--accent);
}
.category-wrapper {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 50px;
}
.category-container {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: var(--normal-shadow);
  transition: var(--normal);
}
.category-container:hover {
  transform: scale(1.03);
  box-shadow: var(--scaled-shadow);
}
.cat-img-wrapper {
  width: 300px;
  height: 200px;

  overflow: hidden;
}

.cat-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  background: var(--light-grey);
  text-align: center;
  font-weight: 100;
  padding: 11px 0;
}

.action-btn {
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  border-radius: inherit;
  background-color: #000000;

  color: white;
  cursor: pointer;
  transition: all 300ms ease;
}
.btn {
  margin-top: 50px;
  border-radius: 14px 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.btn:hover .action-btn {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: #000000;
}
@media (max-width: 1070px) {
  .category-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .category-wrapper {
    grid-template-columns: 1fr;
  }
}

.experts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card-container {
  width: 250px;

  border-radius: 5px 5px 0 0;
  overflow: hidden;
  background: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
}
.card-container:hover,
.card-container:focus {
  transform: rotateY(180deg);
  box-shadow: var(--scaled-shadow);
}
.card-image {
  object-fit: cover;

  overflow: hidden;
}
.card-image img {
  width: 100%;
  border-radius: inherit;
  height: 100%;
}
.card-content {
  padding: 10px;
  width: 100%;

  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content .expert-name {
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin: 5px 0 2px;
}
.card-content .designation {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 30px;
}
.card-content .card-btn {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 300ms ease;
}
.card-btn:hover {
  background: var(--accent-dark);
  opacity: 1;
}

@media (max-width: 1070px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.testimonials {
  padding: 50px;
}
.testimonials h2 {
  text-align: center;
}
.testimonials span {
  color: rgb(248, 84, 19);
}
.testimonial {
  margin: 100px 0;
  display: flex;
  align-items: center;
}
.testimonial-quote {
  background: #fff;
  text-align: center;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 230px 20px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  color: var(--grey);
}
.testimonial-quote h4 {
  margin: 20px 0;
  color: #666;
}

.testimonial-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 5px;
  width: 200px;
  height: 266px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.testimonial:nth-child(odd) .testimonial-quote {
  padding: 20px 20px 20px 230px;
}
.testimonial:nth-child(odd) .testimonial-image {
  left: 10px;
}

.testimonial-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-us {
  width: 90%;
  margin-inline: auto;
  background-color: white;

  text-align: center;
  color: #4e4e4e;
  padding: 50px;
  font-size: 14px;
}
.about-us h2 {
  margin-bottom: 50px;
}

.speciality {
  max-width: 90%;
  min-height: 300px;
  margin: 50px auto 0;
  display: flex;
  background-color: #353835;

  justify-content: space-between;
  box-shadow: var(--normal-shadow);
}

.speciality-content {
  padding: 40px 50px;
  color: white;
}
.list-marker .award {
  margin-right: 3px;
  font-size: 20px;
}

.links {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.speciality-content h3 {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: normal;
  color: #eee;
  line-height: 1.3;
}

.speciality-img {
  display: flex;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  width: 40%;
  overflow: hidden;
}
@media (min-width: 800px) {
  .speciality {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .speciality-img {
    display: none;
  }
  .speciality {
    background-color: none;
    background: #353835;
    align-items: center;
  }
}

.speciality-img img {
  width: 100%;

  object-fit: cover;
}
.lists {
  margin: 0;
  padding: 10px;
}
.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 15px;
}
.list-marker i {
  display: inline;
}
.list h5 {
  font-size: 12px;
  margin: 0;
}
.list p {
  font-size: 11px;
  margin: 0;
  color: #ddd;
}

.signup-today {
  padding: 50px 0;
  margin-inline: auto;
  text-align: center;
  color: #353835;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.footer {
  overflow: hidden;

  background-color: #353835;

  color: white;
  margin: 0 auto 50px;
  padding: 50px 0;
  display: flex;
  justify-content: space-evenly;
  box-shadow: var(--normal-shadow);
}
ul {
  list-style-type: none;
}
.footer div h3 {
  margin-bottom: 20px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-links li,
.footer-links li a:link,
.footer-links li a:visited {
  font-size: 12px;
  color: white;
}

div:not(.ft-social) .footer-links li a {
  position: relative;
}

div:not(.ft-social) .footer-links li a::after {
  content: "";
  width: 0;
  height: 1.2px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 300ms ease;
}

div :not(.ft-social) .footer-links li:hover a::after {
  width: 100%;
  color: #ffffff;
}

.ft-social .footer-links li a:hover,
.ft-social .footer-links li a:focus {
  color: #aaa;
}

.newsletter .subscribe {
  padding: 5px 10px;
  height: 100%;
  background: #ddd;
  color: var(--mild-text);
  border: none;
  outline: none;
  cursor: pointer;
}
::placeholder {
  color: var(--light-text);
}
@media (max-width: 786px) {
  .footer {
    flex-wrap: wrap;

    padding-left: 20px;
  }
  .footer div h3 {
    margin: 20px 0 10px;
  }
}
