/* Head start custom properties */
:root {
  scroll-behavior: smooth;
  --accent: #353835;
  --accent-light: #bdc09a;
  --accent-dark: #3e4334;
  --light-grey: #f1f1f1;
  --light-text: #777;
  --mild-text: #444;
  --white: #fff;
  --black: #000;
  --grey: #919191;
  --header: "Roboto", sans-serif;
  --border: 2px solid #ff69b4;
  --normal-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  --scaled-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  --normal: all 500ms ease;
}


/* animation to show when elements intersect with viewport (hasn't been implemented yet) */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in-animate {
  animation: fade-in 400ms ease;
}

/* Remove default margin, padding and box-sizing property values */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Default font for the body */
body {
  background-color: #f4f4f4;
  font-family: "oxygen", sans-serif;
}

/* Top and bottom margin for the each sections of the body */
.parent-div,
.cta-btn {
  margin-top: 80px;
  margin-bottom: 80px;
}

.parent-div {
  margin-bottom: 160px;
}

.section-header {
  text-align: left;
  margin: 160px 0 80px 50px;
}




/* Main body section begins here */




/* Top section */

.topmost {
  background: rgb(31, 31, 31);
  background-image: linear-gradient(to bottom right, rgb(16, 16, 16), rgb(37, 37, 37), rgb(16, 16, 16));
  padding: 20px 50px 30px;
  border-bottom: 1px inset rgb(70, 70, 70);
}

.main-logo {
  width: 60px;
  height: auto;
}

.top-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.nav-links a:link,
.nav-links a:visited {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  transition: all 200ms ease;
  display: inline-block;
}

.nav-links a::after {
  content: "";
  height: 1px;
  width: 0;
  background: rgb(255, 62, 62);
  position: absolute;
  left: 0;
  bottom: -0.5px;
  border-radius: 3px;
  transition: width 300ms ease;
}
.nav-links a:hover::after {
  width: 100%;
}

.log-sign button {
  border: none;
  font-size: 10px;
  max-height: 30px;
  padding: 5px 10px;
  border-bottom-width: 3px;

  color: white;
  border: 1.5px solid white;
  background: transparent;

  cursor: pointer;
  transition: all 300ms ease;
}
.log-sign button:hover {
  color: black;
  background: white;
  border-color: transparent;
}
.log-sign button:active {
  transform: scale(0.96);
}

.slogan {
  margin: 50px 0 20px;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 100;
}
.bold-text {
  font-weight: 400;
}

.search-icon {
  height: auto;
  width: 15px;
  margin-inline: 10px;
  background: transparent;
}
.search-field {
  margin-inline: auto;
  width: 30%;
  height: 32px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 4px;
  transition: all 250ms ease;
}
.field:focus {
  border: none;
  outline: none;
  background: transparent;
}
.field {
  background: transparent;
  color: black;
  border: none;
  width: 100%;
  padding-inline: 5px;
}
.submit-btn {
  width: 70px;
  height: 100%;
  padding: 5px 10px;
  border: none;
  margin-left: auto;
  background: black;
  color: rgb(224, 224, 224);
  cursor: pointer;
  outline-offset: -1.2px;
  outline: 1.2px solid white;
  transition: all 300ms ease;
}
.submit-btn:hover {
  background: rgb(56, 56, 56);
}

@media (max-width: 720px) {
  .top-nav {
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    align-items: center;
  }

  .nav-links {
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
}
@media (max-width: 460px) {
  .nav-links {
    flex-direction: column;
  }

  .log-sign {
    flex-direction: column;
  }
}




/* Hero section starts here */

.hero {
  width: 100%;
  height: 410px;
  /* outline: 1px solid red; */
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





/* Experts section starts here */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card-container {
    width: 250px;
  /*   border: 1px solid black; */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background: var(--accent); 
    background-image: linear-gradient(to top left, rgb(70, 90, 79), #697355);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
  }
  .card-container:hover,
  .card-container:focus {
    transform: scale(1.03);
    box-shadow: var(--scaled-shadow);
  }
  .card-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--white);
    margin: 20px 0 30px;
    padding: 5px;
  }
  .card-image img {
    width: 100%;
    border-radius: inherit;
    height: 100%;
    
  }
  .card-content {
    padding: 10px;
    width: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-content .expert-name{
    color: var(--accent);
    font-size: 16px;
    margin: 5px 0 2px;
  }
  .card-content .designation {
    color: var(--light-text);
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 30px;
  }
  .card-content .card-btn {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: none;
    background: var(--accent);
    color: var(--white);
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 300ms ease; 
  }
  .card-btn:hover {
    background: var(--accent-dark);
    opacity: 1;
  }

.categories-container {
  width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0, 0.2);
  position: relative;
  transition: all 300ms ease;
}
.category-image {
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  z-index: 5;
  inset: 0;
}
.category-image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.category-text {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  transform: translateY(-40px);
  z-index: -1;
  transition: transform 400ms ease;
  transition-delay: 250ms;
}
.categories-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0,0,0, 0.1);
}
.categories-container:hover > .category-text {
  box-shadow:0 4px 8px rgba(0,0,0, 0.15);
  transform: translateY(0);
}





/* Testimonials seciton begins here */

  .testimonials {
    padding: 50px;
  }
  .testimonials h2 {
    text-align: center;
  }
  .testimonials span {
    color: rgb(248, 84, 19);
  }
  .testimonial {
    margin: 100px 0;
    display: flex;
    align-items: center;
  }
  .testimonial-quote {
    background: #fff;
    text-align: center;
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 230px 20px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    color: var(--grey);
  }
  .testimonial-quote h4 {
    margin: 20px 0;
    color: #666;
  }

.testimonial-image {
  outline: 3px solid black;
  outline-offset: 5px;
  
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}






/* Speciality section begins here */


.specialities > h2 {
  text-align: center;
  margin-inline: 0;
}

.speciality{
  width: 100%;
  display: flex;
  background: rgb(50, 50, 50);
  color: white;
}

.spec-left {
  /* outline: 1px dashed red; */
  flex-basis: 35%;
}

.spec-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spec-right {
  padding: 30px 60px;
}

.spec-right > p {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 20px;
}

.spec-list > li {
  margin-bottom: 15px;
}

.list-heading {
  font-size: 16px;
  font-weight: 400;
}

.list-description {
  font-size: 14px;
  font-weight: 200;
  font-family: "poppins", sans-serif;
}

.exhub-text {
  color: rgb(254, 123, 75);
}

.spec-list > li {
  list-style-type: none;
  padding-left: 40px;
}

.spec-list > li:nth-child(1) {
  background: url("/images/icons/reward.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0 4px;
}
.spec-list > li:nth-child(2) {
  background: url("/images/icons/scissor.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0 4px;
}
.spec-list > li:nth-child(3) {
  background: url("/images/icons/shield.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0 4px;
}

@media (max-width: 768px) {
  .speciality {
    flex-direction: column;
  }
}



/* Footer section starts here */

.footer-wrapper {
  background-image: url("/Images/foooter_bg.png");
  padding: 20px 40px;
  background-size: cover;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.footer,
.footer *:link,
.footer *:visited {
  color: white;
}

.ft-header {
  font-size: 17px;
  margin-bottom: 20px;
}

.footer li {
  margin-bottom: 5px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 300;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer-logo {
  width: 80px;
}
.socials {
  display: flex;
  gap: 15px;
}

.socials-logo {
  width: 30px;
  aspect-ratio: 1;
  filter: grayscale(100%) brightness(100%);
  transition: filter 300ms ease;
}

.socials-logo:hover {
  filter: grayscale(0%) brightness(100%);
}

  /* Sign up today text */

  .signup-today {
    width: 90%;
    padding: 50px 0;
    margin-inline: auto;
    text-align: center;
    color: var(--mild-text);
    background-color: var(--light-grey);
  }

  /* Footer section */

  .footer {
    overflow: hidden;
    max-width: 90%;
    background-color: #353835;
    background-image: linear-gradient(to top left, rgb(70, 90, 79), #697355);
    color: white;
    margin: 0 auto 50px;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    box-shadow: var(--normal-shadow);
  }
  ul {
    list-style-type: none;
  } 
  .footer div h3 {
    margin-bottom: 20px;
  }
  .footer-links li,
  .footer-links li a:link,
  .footer-links li a:visited  {
    font-size: 12px;
    color: white;
  }
  
  div:not(.ft-social) .footer-links li a {
    position: relative;
  }

  div:not(.ft-social) .footer-links li a::after {
    content: '';
    width: 0;
    height: 1.5px;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width 300ms ease; 
  }

  div :not(.ft-social) .footer-links li:hover a::after {
    width: 100%;
    color: orangered;
  }

  .ft-social .footer-links li a:hover,
  .ft-social .footer-links li a:focus {
    color: #aaa;
  }

  .newsletter {
    padding: 0 0 0 5px;
    background: white;
  }
  .newsletter .email-input {
    border: none;
    outline: none;
    background-color: transparent;
  }
  .newsletter .subscribe {
    padding: 5px 10px;
    height: 100%;
    background: #ddd;
    color: var(--mild-text);
    border: none;
    outline: none;
    cursor: pointer;
  }
  ::placeholder {
    color: var(--light-text);
  }
  @media (max-width:786px) {
    .footer {
      flex-wrap: wrap;
      /* flex-direction: column; */
      padding-left: 20px;
    }
    .footer div h3 {
      margin: 20px 0 10px;
    }
  }